
body{
    margin:0;

}
.form{
display:flex;
justify-content:center;
}
.form-content{
    display:flex;
    flex-direction:column;
}
.btn{
height:30px;
width:80px;
border-radius:10%;
;
}



.table{
    display:table;
    margin: 0 auto;


}